* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  width: 1200px;
  height: 100%;
  margin: auto;
  /* border: 1px solid black; */
}

.container::after {
  clear: both;
  display: table;
  content: "";
}


header{
  background-color: grey;
  height: 200px;

}

.headertop{

  height: 100px;
  background-color: #f5f8fa;
  /* border-bottom: 1px solid #cbd6e2;
  border-top: 1px solid #cbd6e2; */
  /* width: 100%;
  position: fixed;
  top: 0px;
  left: 0px; */
  /* position: fixed; */


}

.headertopleft {
  background-color: #f5f8fa;
  color: #33475b;
  height: 100px;
  float: left;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 60px;
  font-weight: bold;
  font-size: 18px;
  font-family: sans-serif;
}


.world{
  padding-right: 5px;
}

.English {
  /* padding-right: 20px;
  /* padding left: 40px;
  /* padding top: 20px; */
  float: left;
  /* line-height: 6; */
  display: inline-block;



}


.Contact {
  float: left;
  padding-left: 20px;
  /* line-height: 6; */
  display: inline-block;
  /* border-left: 1px solid black; */

}


.headertopright {
  background-color: #f5f8fa;
  height: 100px;
  float: left;
  width: 50%;
  padding-left: 50px;
  padding-right: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 60px;
  text-align: right;
}

.tool{
  color: blue;
  padding-right: 20px;

}

.arrow{
  padding-right: 30px;
  padding-left: 1px;

}

.login{
  border: 2px solid #ff7a59;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-right: 30px;
  color:#ff7a59;
  border-radius: 3px;
  /* line-height: 66px; */
}

.Get{
  border: 2px solid #ff7a59;;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-right: 30px;
  color:white;
  background-color: #ff7a59;;
  border-radius: 3px;
}


.headerbottom{
  height: 100px;
  color: #425b76;
  /* background-color: white; */
  /* font-size: 100%; */
  width: 100%;
  display: inline-block;
  background-color: white;
  /* padding-top: 100px;
  padding left:  */



}

.logoright{
height: 100px;
background-color: white;
/* display: inline-block; */
width: 50%;
float: left;


}

img{
  width:150px;
  height:100px;
  display: inline;


}
.menu {
  height:100px;
  display: inline block;
  width: 50%;
  float: right;




}

div li{
  display: inline-block;
  font-family: sans-serif;
  color: #33475b;
  padding-top: 40px;
  padding-left: 10px;
  padding-bottom: 20px;
  padding-right: 30px;
  font-family: sans-serif;
  font-weight: bold;



}

.banner{
  color:white;
  background-color: #425b76;
  height: 100px;
  font-size: 18px;
  text-align: left;
}

  .testobanner{
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;

}

#hubspotyoutube {
  color: white;

}


#jumbo {
  height: 500px;

}

.main{
  height: calc(400 - 90px);
  width: 35%;
  float: left;
  padding-left: 20px;
  padding-top: 70px;
}



  h1{
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    color: #33475b;
  }


.paragraph{
  font-size: 20px;
  font-weight: normal;
  padding-top: 18px;
  padding-bottom: 20px;
  color: #33475b;
  line-height: 1.6;
}

.paragraphbottom{
  font-size: 18px;
  padding-top: 20px;
  color: #33475b;
  padding-bottom: 70px;
}


.Get2 {
    border: 2px solid #ff7a59;;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
    color:white;
    background-color: #ff7a59;;
    border-radius: 3px;
}


.widjet {
  height: 300px;

}



h2 {
  font-weight: bold;
  font-size: 40px;
  /* width: 30%; */
  color: #33475b;

}

.textwidjet {
  font-size: 15px;
  /* width: 30%; */
  padding-top: 20px;
  color: #33475b;
  line-height: 1.6;

}




.box1, .box2, .box3, .box4, .box5, .box6 {
  float: left;


}


h3{

   font-size: 30px;
   color: #33475b;

 }



 .box1 {
   width:30%;
;
 }

.box2{
  width: 35%;
  padding-left: 60px;

}
 .box3{
 width: 35%;
 padding-left: 60px;

 }

.box4{
  width: 33%;

}


.box5{
  width: 33%;
  padding-left: 60px;
}

.box6{
  width: 33%;
  padding-left: 60px;
}


.popular {
  text-transform: uppercase;
  font-size: 15px;
  padding-top: 60px;
  color: #33475b;
  font-weight: bold;
}
