* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  width: 1200px;
  height: 100%;
  margin: auto;
  border: 2px solid black;
}

.container::after {
  clear: both;
  display: table;
  content: "";
}


header{
  background-color: grey;
  height: 200px;

}

.headertop{

  height: 100px;
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  border-top: 1px solid #cbd6e2;


}
.headertopleft {
  background-color: #f5f8fa;
  color: #33475b;
  height: 100px;
  float: left;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 60px;
  font-weight: bold;
  font-size: 18px;
  font-family: sans-serif;
}


.world{
  padding-right: 5px;
}

.English {
  /* padding-right: 20px;
  /* padding left: 40px;
  /* padding top: 20px; */
  float: left;
  /* line-height: 6; */
  display: inline-block;


}


.Contact {
  float: left;
  padding-left: 20px;
  /* line-height: 6; */
  display: inline-block;

}

.headertopright {
  background-color: #f5f8fa;
  height: 100px;
  float: left;
  width: 50%;
  padding-left: 50px;
  padding-right: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 60px;
  text-align: right;
}

.tool{
  color: blue;
  padding-right: 20px;

}

.arrow{
  padding-right: 30px;
  padding-left: 1px;

}

.login{
  border: 2px solid #ff7a59;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-right: 30px;
  color:#ff7a59;
  border-radius: 3px;
  /* line-height: 66px; */
}

.Get{
  border: 2px solid #ff7a59;;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-right: 30px;
  color:white;
  background-color: #ff7a59;;
  border-radius: 3px;
}


.headerbottom{
  height: 100px;
  color: #425b76;
  /* background-color: white; */
  /* font-size: 100%; */
  width: 100%;
  display: inline-block;

}

.logoright{
height: 100px;
background-color: white;
/* display: inline-block; */
width: 50%;
float: left;
padding-left: 5px;

}

img{
  width:150px;
  height:100px;
  display: inline;
}

}
.menu {
  height:100px;
  display: inline;
  width: 50%;
  float: left;
  padding-left: 5px;

}

div li{
  display: inline-block;
  font-family: sans-serif;
  color: #33475b;




}

.banner{
  color:white;
  background-color: #425b76;
  line-height: 1.6;
}







#jumbo {
  background-color: green;
  height: 500px;
}
